<!-- wp:template-part {"slug":"websites-sunshine-header","tagName":"header"} /-->

<!-- wp:group {"align":"full","style":{"color":{"background":"#fffbf0"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull has-background" style="background-color:#fffbf0;margin-top:0;margin-bottom:0"><!-- wp:post-content {"align":"full","className":"variations-design-container","style":{"dimensions":{"minHeight":"60vh"}},"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"websites-sunshine-footer","tagName":"footer"} /-->